{% if data.courses %}
  <div class="course-catalog">
    {% for item in data.courses %}
      <div class="course-teaser">
        <div class="course-teaser-title">
          <h2>{{ item.courseName }}</h2>
        </div>
        <div class="course-teaser-body">
          <div class="features">
            <ul>
              {% for key,value in item.courseFeatures %}
                <li>{{ source(base_path ~ directory ~ '/images/tick.svg') }} <span>{{ value.value }}</span></li>
              {% endfor %}
            </ul>
          </div>
          <div class="attributes">
            <ul>
              <li>{{ source(base_path ~ directory ~ '/images/calendar.svg') }} {{ item.courseDuration }} months (part-time)</li>
              <li>{{ source(base_path ~ directory ~ '/images/dollar.svg') }} ${{ item.courseFee }} {% if item.isFeeHelpAvailable == 'true' %}(per unit FEE HELP available){% endif %}</li>
              <li>{{ source(base_path ~ directory ~ '/images/monitor.svg') }} {{ item.noOfModules }} units</li>
            </ul>
          </div>
          <div class="links">
            <a href="{{ item.partnerInformation[1].value }}">
              <img src="{{ item.partnerInformation[2].value ? item.partnerInformation[2].value : base_path ~ directory ~ '/images/UTS.png' }}"
                   alt="{{ item.partnerInformation[0].value }}">
            </a>
            <a href="https://www.mysite.edu.au/contact">
              <button>Enquire</button>
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
